.container {
	padding-left: 20%;
	padding-right: 20%;
}

.Post {
	position: relative;
}

.school-icon {
	border-radius: 999px;
	max-width:80px;
    max-height:80px;
}

#My_picture {
	margin-top: 20px; 
	left: 10%;
	position: relative;
	max-width:30%;
    max-height:30%;
    float: right;
    border-radius: 999px;
}

.pre_paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'Bellefair', serif;
}

#header {
	text-align: center;
}


.navbar-fixed-bottom {
	height: 20%;
}

.infor {
	padding-left: 0px;
	list-style-type: none;
}

.glyphicon {
    font-size: 20px;
}

.ion-social-facebook {
	font-size: 15px;
	margin-right: 2px;
}

.ion-android-mail {
    font-size: 15px;
    margin-right: 2px;
}

.ion-social-linkedin{
    font-size: 15px;
    margin-right: 2px;
}

.note {
	position: relative;
	float: right;
}

.final-note {
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.container-list {
	padding-left: 10%;
	padding-right: 10%;
}

footer {
	position: relative;
}