.container {
	padding-left: 20%;
	padding-right: 20%;
}

.Post {
	position: relative;
}

#My_picture {
	margin-top: 20px; 
	left: 10%;
	position: relative;
	max-width:30%;
    max-height:30%;
    float: right;
    border-radius: 999px;
}

.pre_paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
}